.producto-page {
  background: #ffe9d6;
  min-height: 100vh;
  padding: 30px;
}



.titulo-principal {
  text-align: center;
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: 700;
}

.titulo-seccion {
  margin-top: 40px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}



.categorias {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 40px;
}

.categoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
  background: white;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

.categoria:hover,
.categoria.active {
  background: #ffb17a;
  transform: scale(1.05);
}



.productos-lista {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 85%;
  margin: auto;
}

.producto-card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  gap: 25px;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
}

.producto-img {
  width: 200px;
  height: 200px;
  border-radius: 12px;
  object-fit: cover;
}

.producto-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btn-mas {
  background: #ff7a33;
  color: white;
  border: none;
  padding: 8px 14px;
  font-size: 22px;
  border-radius: 10px;
  cursor: pointer;
}


.servicio-card-grande {
  background: white;
  width: 85%;
  margin: 45px auto;
  padding: 25px;
  border-radius: 12px;
  display: flex;
  gap: 25px;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
}

.servicio-img-grande {
  width: 200px;
  height: 200px;
  border-radius: 12px;
  object-fit: cover;
}

.servicio-info-grande h3 {
  font-size: 32px;
  margin-bottom: 10px;
}

.servicio-info-grande p {
  font-size: 20px;
  line-height: 1.4;
}



.servicios-lista {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 25px;
  flex-wrap: wrap;
}

.servicio-card {
  background: white;
  padding: 10px;
  border-radius: 12px;
  width: 220px;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.15);
  text-align: center;
}

.servicio-img {
  width: 100%;
  height: 170px;
  border-radius: 10px;
  object-fit: cover;
}

.servicio-footer p {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 600;
}
