.catalogo-container {
  padding: 20px;
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.producto-card {
  background: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 12px;
}

.img-principal {
  width: 110px;          
  height: 110px;
  object-fit: contain;
  background: #f3f3f3;
  border-radius: 6px;
  display: block;
  margin: 0 auto 8px auto;
}

.producto-card h4 {
  font-size: 0.95rem;
  margin: 6px 0 4px;
}

.precio {
  font-weight: bold;
  font-size: 0.9rem;
}

.colores {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 8px 0;
}

.color-circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #888;
  cursor: pointer;
}

.btn-producto {
  width: 90%;
  padding: 8px;
  background: #000;
  color: #fff;
  border: none;
  font-size: 0.85rem;
  cursor: pointer;
}
