.detalle-container {
  display: flex;
  padding: 20px;
}

.detalle-main-content {
  flex: 1;
  margin-left: 20px; 
}

h1 {
  font-size: 2rem;
}

img {
  max-width: 100%;
  height: auto;
}

.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
}

.sidebar h2 {
  font-size: 1.5rem;
}

.sidebar h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.sidebar label {
  display: block;
  margin-bottom: 5px;
}
