.filtros-container {
  display: flex;
  width: 100%;
  padding: 20px;
}

.filtros-izquierda {
  width: 280px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.grupo-filtro h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.grupo-filtro label {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 6px 0;
  font-size: 14px;
  cursor: pointer;
}

.grupo-filtro input[type="checkbox"] {
  width: 16px;
  height: 16px;
}
